<%- include('styleCorpo') %>
<body>
  <div>
    <h2>Procure por usuários cadastrados</h2>
    <form action="/usuarios" method="post">
      Nome: <input type="text" name="nome" id="nome" />
      <br />
      <input type="submit" value="Enviar" />
    </form>
  </div>
</body>
