<%- include('styleCorpo') %>
<body>
  <div>
    <h2>Procure pelos seus produtos favoritos</h2>
    <form action="/produtos" method="post">
      Nome do produto: <input type="text" name="nome" id="nome" />
      <br />
      Preço: <input type="text" name="preco" id="preco" /><br />
      codigo: <input type="text" name="codigo" id="codigo" /><br />
      <input type="submit" value="Enviar" />
    </form>
  </div>
</body>
