<%- include('header') %>
<%- include('styleCorpo') %>
<body>
    
    <div id="home">
    <a href="/insereProdutos"><button>Ir para a Página de Cadastro</button></a>
    <br>
    <a href="/buscaProduto"><button>Ir para a Página de Busca</button></a>
    </div>
    
</body>
